@model RMS.Web.Models.ViewModel.RemittInfoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading" style="text-align:center;">Upload Paid Remittance File</div>
    <div class="panel-body">
        @using (Html.BeginForm("UploadExchangeHouse", "RemittInfo", null, FormMethod.Post, new { enctype = "multipart/form-data", @id = "idForm" }))
        {
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label" style="margin-top:5px;">Exchange Company:</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.RemittInfoExchangeHouse.ExchangeHouse, Model.ExchangeHouseSelectListItems, "-Select Exchange Company", new { @class = "form-control", id = "exchangeHouse", tabindex = 1 })
                            @Html.HiddenFor(x => x.RemittInfoExchangeHouse.ExchangeHouse)
                        </div>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Upload Date:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.RemittInfoExchangeHouse.FileUploadDate, "{0:dd MMM yyyy}", new { @class = "form-control datepicker", tabindex = 2, placeholder = "File Upload Date", id = "uploadDate" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Batch No.:</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.RemittInfoExchangeHouse.BatchNo, new { @class = "textBoxsize form-control", tabindex = 4, placeholder = "Batch No.", id = "batchNo" })
                            @Html.ValidationMessageFor(x => x.RemittInfoExchangeHouse.BatchNo)
                        </div>
                        @*<div class="col-md-4" style="text-align:right">
                                <input type="submit" id="btnSave" value="Find" class="btn btn-info" tabindex=13 />
                            </div>*@
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" style="text-align:right">
                        @*<a id="exchangeHouseNumber" class="btn btn-info" href="#">Find Uploaded Data</a>*@
                        @Html.ActionLink("Find Uploaded Data", "FindUploadedDataExchangeHouse", "RemittInfo", new { id = "exchangeHouseNumber", @class = "btn btn-info" })
                    </div>
                </div>
            </div>
            @*<div class="row">
                    @{
                Html.RenderPartial("~/Views/RemittInfo/_Index.cshtml", Model);
                    }
                </div>*@

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label" style="margin-top:5px;">Exchange Rate:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.RemittInfoExchangeHouse.ExchangeRate, new { @class = "textboxsize form-control", tabindex = 2, placeholder = "Exchange Rate" })
                            @Html.ValidationMessageFor(x => x.RemittInfoExchangeHouse.ExchangeRate)
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 control-label" style="margin-top:5px;">Select File:</label>
                        <div class="col-md-8">
                            <input type="file" id="dataFile" name="Upload" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group" style="text-align:right">
                        <input type="submit" value="Upload" class="btn btn-info" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @if (Model.Message != null)
                    {
                        if (Model.IsSucceed == 1)
                        {
                            <div style="color:green">@Model.Message</div>
                        }
                        else
                        {
                            <div style="color:red">@Model.Message</div>
                        }
                    }
                </div>
            </div>
        }

    </div>

</div>
@if (Model.RemittInfoExchangeHouses.Count > 0)
{
    <div class="row" style="font-weight:bold;color:blue">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-md-6 control-label">Number of Remittance:</label>
                <div class="col-md-6" style="text-align:left">
                    @Html.DisplayFor(x => x.NumberOfRemittance)
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-md-6 control-label">Total Amount in BDT:</label>
                <div class="col-md-6" style="text-align:left">
                    @Html.DisplayFor(x => x.TotalAmountInBDT)
                </div>
            </div>
        </div>
    </div>
}

<table class="table table-bordered" style="font-size:10px;margin-top:0px;">

    <thead style="background-color: #32CD32;">
        <tr style="text-align:justify">
            <th>Reference Number</th>
            <th>Remitter Name</th>
            <th>Beneficiary Name</th>
            <th>Date of Payment</th>
            <th>Amount in BDT</th>
            <th>Bank Name</th>
            <th>District Name</th>
            <th>Branch Name</th>
            <th>Accuracy Percentage</th>
            <th>Routing No.</th>
            <th>Sending Branch Info</th>
            <th>Security Code</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RemittInfoExchangeHouses)
        {
            if (item.RespondingBranch == 24834)
            {
                <tr class="table table-bordered" style="background-color:yellow">
                    <td>@Html.DisplayFor(modelItem => item.ExchangeRefference)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApplicantName)</td>
                    <td>@Html.DisplayFor(modelItem => item.BeneficiaryName)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.DateofPayment)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td style="background-color: khaki">@Html.DisplayFor(modelItem => item.BranchInfo.BranchName)</td>
                    <td style="background-color: khaki">@Html.DisplayFor(modelItem => item.BranchInfo3.BranchName)</td>
                    <td style="background-color: khaki">@Html.DisplayFor(modelItem => item.BranchInfo1.BranchName)</td>
                    @if (item.BranchAccuracyPercentage >= 100)
                    {
                        <td style="text-align: center; background-color: #32CD32;">@Html.DisplayFor(x => item.BranchAccuracyPercentage)</td>

                    }
                    else
                    {
                        <td style="text-align: center;background-color:red">@Html.DisplayFor(x => item.BranchAccuracyPercentage)</td>

                    }
                    @if (item.BranchInfo1.OwnBranchCode.Trim() == "")
                    {
                        <td style="background-color:red">@Html.DisplayFor(modelItem => item.BranchInfo1.OwnBranchCode)</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(modelItem => item.BranchInfo1.OwnBranchCode)</td>
                    }
                    <td style="text-align: left;background-color:burlywood">@Html.DisplayFor(modelItem => item.BankBrInfo)</td>

                    <td>@Html.DisplayFor(modelItem => item.SecurityCode)</td>
                    <td>@Html.ActionLink("Edit", "EditExchangeHouse", "RemittInfo", new { RemittInfoExchangeHouseIdentity = item.RemittInfoExchangeHouseIdentity }, new { @class = "btn btn-info" })</td>
                    <td>@Html.ActionLink("Delete", "DeleteExchangeHouse", "RemittInfo", new { RemittInfoExchangeHouseIdentity = item.RemittInfoExchangeHouseIdentity, ExchangeHouse = item.ExchangeHouse, FileUploadDate = Model.RemittInfoExchangeHouse.FileUploadDate, BatchNo = Model.RemittInfoExchangeHouse.BatchNo }, new { @class = "btn btn-danger" })</td>

                </tr>
            }
            else
            {
                 <tr class="table table-bordered">
                    <td>@Html.DisplayFor(modelItem => item.ExchangeRefference)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApplicantName)</td>
                    <td>@Html.DisplayFor(modelItem => item.BeneficiaryName)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.DateofPayment)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td style="background-color: khaki">@Html.DisplayFor(modelItem => item.BranchInfo.BranchName)</td>
                    <td style="background-color: khaki">@Html.DisplayFor(modelItem => item.BranchInfo3.BranchName)</td>
                    <td style="background-color: khaki">@Html.DisplayFor(modelItem => item.BranchInfo1.BranchName)</td>
                    @if (item.BranchAccuracyPercentage >= 100)
                    {
                        <td style="text-align: center; background-color: #32CD32;">@Html.DisplayFor(x => item.BranchAccuracyPercentage)</td>

                    }
                    else
                    {
                        <td style="text-align: center;background-color:red">@Html.DisplayFor(x => item.BranchAccuracyPercentage)</td>

                    }
                    @if (item.BranchInfo1.OwnBranchCode.Trim() == "")
                    {
                        <td style="background-color:red">@Html.DisplayFor(modelItem => item.BranchInfo1.OwnBranchCode)</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(modelItem => item.BranchInfo1.OwnBranchCode)</td>
                    }
                    <td style="text-align: left;background-color:burlywood">@Html.DisplayFor(modelItem => item.BankBrInfo)</td>

                    <td>@Html.DisplayFor(modelItem => item.SecurityCode)</td>
                     <td>@Html.ActionLink("Edit", "EditExchangeHouse", "RemittInfo", new { RemittInfoExchangeHouseIdentity = item.RemittInfoExchangeHouseIdentity }, new { @class = "btn btn-info" })</td>
                     <td>@Html.ActionLink("Delete", "DeleteExchangeHouse", "RemittInfo", new { RemittInfoExchangeHouseIdentity = item.RemittInfoExchangeHouseIdentity, ExchangeHouse = item.ExchangeHouse, FileUploadDate = Model.RemittInfoExchangeHouse.FileUploadDate, BatchNo = Model.RemittInfoExchangeHouse.BatchNo }, new { @class = "btn btn-danger" })</td>

                </tr>
            }

        }
    </tbody>
</table>
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script>
    @*$("#exchangeHouseNumber").click(function () {
        var url = '@Url.Action("FindUploadedData", "RemittInfo", new { exchangeHouse = "----",uploadDate="--" })';
        url = url.replace("----", $('#exchangeHouse').val());
        url = url.replace("--", $('#uploadDate').val() + "|" + $('#exchangeHouse').val());
        window.location = url;
    });*@

    $('#exchangeHouseNumber').click(function () {
        var exchangeHouse = $('#exchangeHouse').val();
        var uploadDate = $('#uploadDate').val(); // get the textbox value
        var batchNo = $('#batchNo').val();
        if (uploadDate == '')
            alert("Please select data uploaded date.");
        var url = $(this).attr('href') + '?&exchangeHouse=' + exchangeHouse + "&uploadDate=" + uploadDate + "&batchNo=" + batchNo; // build new url
        location.href = url; // redirect
        return false; // cancel default redirect
    });
</script>