@model RMS.Web.Models.ViewModel.RemittInfoViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SearchIndex", "RemittInfo", FormMethod.Post))
{
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center">Remittance Search by Reference Number / Security Code</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="col-md-4 control-label">Reference Number</div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.RemittInfo.ExchangeRefference, new { @class = "form-control", tablindex = 1, palceholder = "Reference Number", id = "refNo" })
                        </div>
                        <div class="col-md-4" style="text-align:left">
                            @Html.ActionLink("Find by Reference Number", "SearchIndex", "RemittInfo", new { id = "refNoValue", @class = "btn btn-info" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="col-md-4 control-label">Security Code</div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.RemittInfo.SecurityCode, new { @class = "form-control", tablindex = 1, palceholder = "Reference Number", id = "securityCode" })
                        </div>
                        <div class="col-md-4" style="text-align:right">
                            @Html.ActionLink("Find by Security Code", "SearchIndex", "RemittInfo", new { id = "btnSecurityCode", @class = "btn btn-info" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Exchange Company:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.BranchInfo2.BranchName, new { @class = "form-control", @readonly = "readonly", tabindex = 1 })
                            @Html.HiddenFor(x => x.RemittInfo.ExchangeHouse)
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4">Remittacne Status</label>

                        <div class="col-md-8">
                            @if (Model.RemittInfo != null)
                            {
                                if (Model.RemittInfo.Status == "00")
                                {
                                    @Html.Label("Issued")
                                }
                                else if (Model.RemittInfo.Status == "01")
                                {
                                    @Html.Label("Verified")
                                }
                                else if (Model.RemittInfo.Status == "04")
                                {
                                    @Html.Label("Paid")
                                }
                                else if (Model.RemittInfo.Status == "05")
                                {
                                    @Html.Label("Stop")
                                }
                                else if (Model.RemittInfo.Status == "05")
                                {
                                    @Html.Label("Cancel")
                                }
                                else
                                {
                                    @Html.DisplayFor(x => x.RemittInfo.Status)
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4">Originating Country:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.CommonCode3.TypeValue, new { @class = "form-control", tabindex = 3 })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Currency:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.CommonCode.TypeValue, new { @class = "form-control", tabindex = 4 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Transaction Date:</label>
                        <div class="col-md-6">
                            @if (Model.RemittInfo != null)
                            {
                                @Html.DisplayFor(x => x.RemittInfo.TransDate, "{0:dd MMMM yyyy}", new { @class = "textBoxsize form-control", @style = "width:395px;", tabindex = 5 })

                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Sending Branch Information:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.BankBrInfo, new { @class = "textBoxsise form-control", tabindex = 6 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Remitter Name:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.ApplicantName, new { @class = "textBoxsize form-control", tabindex = 7 })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Remitter Mobile No.:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.ApplicantCellphone, new { @class = "textBoxsize form-control", tabindex = 8 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Remitter Address:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.ApplicantAddress, new { @class = "textBoxsize form-control", tabindex = 9 })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">File Upload Date:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.FileUploadDate, "{0:dd MMMM yyyy}", new { @class = "textBoxsize form-control", @style = "width:395px;", tabindex = 5 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Beneficiary Name:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.BeneficiaryName, new { @class = "textBoxsize form-control", tabindex = 10 })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Beneficiary Mobile No.:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.BeneficiaryCellPhone, new { @class = "textBoxsize form-control", tabindex = 11 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Amount in BDT:</label>
                        <div class="col-md-8">
                            @if (Model.RemittInfo != null)
                            {
                                @Html.DisplayFor(x => x.RemittInfo.Amount, new { @class = "textBoxsize form-control", tabindex = 10 })

                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Date of Payment.:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.DateofPayment, "{0:dd MMMM yyyy}", new { @class = "textBoxsize form-control", @style = "width:395px;", tabindex = 5 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Beneficiary Address:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.BeneficiaryAddress, new { @class = "textBoxsize form-control", tabindex = 12 })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Payment Bank Name:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.BranchInfo.BranchName, new { @class = "textboxsize form-control", tabindex = 17 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Payment District Name:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.BranchInfo1.BranchName, new { @class = "textboxsize form-control", tabindex = 17 })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Payment Branch Name:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.BranchInfo3.BranchName, new { @class = "textboxsize form-control", tabindex = 17 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Payment Type:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.CommonCode2.TypeValue, new { @class = "textboxsize form-control", tabindex = 17 })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="text-align:left">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Account Number</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.AccountNo, new { @class = "textboxsize form-control", tabindex = 17 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Valid Photo ID Type:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.CommonCode4.TypeValue, new { @class = "textboxsize form-control", tabindex = 17 })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="text-align:left">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Valid Photo ID NO.</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.PaymentPhotoIdNumber, new { @class = "textboxsize form-control", tabindex = 17 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Batch No.:</label>
                        <div class="col-md-8">
                            @Html.DisplayFor(x => x.RemittInfo.BatchNo, new { @class = "textboxsize form-control", tabindex = 17 })
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-6" style="text-align:left">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Account Number</label>
                            <div class="col-md-8">
                                @Html.DisplayFor(x => x.RemittInfo.AccountNo, new { @class = "textboxsize form-control", tabindex = 17 })
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @if (Model.Message != null)
                    {
                        if (Model.IsSucceed == 1)
                        {
                            <div style="color:green">@Model.Message</div>
                        }
                        else
                        {
                            <div style="color:red">@Model.Message</div>
                        }
                    }
                </div>

            </div>

        </div>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $('.BankName').change(function () {
            var $BankNamedropdown = $(this);
            var targetClass = $BankNamedropdown.attr('TargetClass');
            var url = $BankNamedropdown.attr('action');

            var bankCode = $BankNamedropdown.val();
            var option = {
                url: url,
                type: 'GET',
                dataType: 'JSON',
                data: { bankCode: bankCode }
            };
            $.ajax(option).done(function (districts) {
                if (districts.length > 0) {
                    ClearDropDownList(targetClass);
                    $.each(districts, function () {
                        $("." + targetClass).append($("<option />").val(this.BranchCode).text(this.BranchName));
                    });
                } else {
                    ClearDropDownList(targetClass);
                    NotFoundData(targetClass);
                }

            });
        });

        $('.DistrictName').change(function () {
            var $DistrictNamedropdown = $(this);
            var targetClass = $DistrictNamedropdown.attr('TargetClass');
            var url = $DistrictNamedropdown.attr('action');
            var districtCode = $DistrictNamedropdown.val();
            var option = {
                url: url,
                type: 'GET',
                dataType: 'JSON',
                data: { districtCode: districtCode }
            };
            $.ajax(option).done(function (branches) {
                if (branches.length > 0) {
                    ClearDropDownList(targetClass);
                    $.each(branches, function () {
                        $("." + targetClass).append($("<option />").val(this.BranchInfoIdentity).text(this.BranchName));
                    });
                } else {
                    ClearDropDownList(targetClass);
                    NotFoundData(targetClass);
                }

            });
        });


        $('.BranchName').change(function () {
            var $AgentNamedropdown = $(this);
            var targetClass = $AgentNamedropdown.attr('TargetClass');
            var url = $AgentNamedropdown.attr('action');
            var branchCode = $AgentNamedropdown.val();
            var option = {
                url: url,
                type: 'GET',
                dataType: 'JSON',
                data: { branchCode: branchCode }
            };
            $.ajax(option).done(function (agentList) {
                if (agentList.length > 0) {
                    ClearDropDownList(targetClass);
                    $.each(agentList, function () {
                        $("." + targetClass).append($("<option />").val(this.BranchCode).text(this.BranchName));
                    });
                } else {
                    ClearDropDownList(targetClass);
                    NotFoundData(targetClass);
                }

            });
        });

        function ClearDropDownList(selector) {
            $('.' + selector)
                .find('option').remove()
                .end().append($('<option>').text("-Select-").attr('value', ""));
        };

        function NotFoundData(targetClass) {
            $('.' + targetClass)
                .append($('<option>').text("Not Found").attr('value', ""));
        };

        $("#userRoleId").change(function () {
            //alert('hi');
            if ($("#userRoleId option:selected").val() == "5") {
                $("#exchangeHouseAndAgent").show();
            } else {
                $("#exchangeHouseAndAgent").hide();
            }
        });

        $('#refNoValue').click(function () {
            var refNo = $('#refNo').val();
            var securityCode = $('#securityCode').val();
            if (refNo == "")
                alert("Please enter reference number");
            else {
                var url = $(this).attr('href') + '&exchangeRefference=' + refNo + "&securityCode=" + securityCode; // build new url
                location.href = url; // redirect
                return false; // cancel default redirect
            }
        });
        $('#btnSecurityCode').click(function () {
            var refNo = $('#refNo').val();
            var securityCode = $('#securityCode').val();
            if (securityCode == "")
                alert("Please enter security code");
            else {
                var url = $(this).attr('href') + '&exchangeRefference=' + refNo + "&securityCode=" + securityCode; // build new url
                location.href = url; // redirect
                return false; // cancel default redirect
            }
        });
    </script>
}
