@model RMS.Web.Models.ViewModel.UserViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
{
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center">Forgot Password</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">User Id:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.User.UserName, new { @class = "form-control", tabindex = 1, autofocus = "autofocus", placeholder = "Enter User Id" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Mobile No:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.User.PhoneNumber, new { @class = "form-control", tabindex = 1, autofocus = "autofocus", placeholder = "Enter User Id" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">New Password:</label>
                        <div class="col-md-8">
                            @Html.PasswordFor(x => x.User.Password, new { @class = "form-control", tabindex = 2, placeholder = "Enter Password" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Confirm Password:</label>
                        <div class="col-md-8">
                            @Html.PasswordFor(x => x.User.ConfirmPassword, new { @class = "form-control", tabindex = 3, placeholder = "Enter ConfirmPassword" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.ValidationMessageFor(x => x.User.ConfirmPassword)
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-8" style="text-align:right">
                            <input type="submit" id="btnSave" value="Change Password" class="btn btn-info" tabindex=4 />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    @if (Model.Message != null)
                    {
                        if (Model.IsSucceed == 1)
                        {
                            <div style="color:green">@Model.Message</div>
                        }
                        else
                        {
                            <div style="color:red">@Model.Message</div>
                        }
                    }
                </div>
                <div class="col-sm-6 col-lg-6">
                </div>
            </div>
        </div>
    </div>

}



