@model RMS.Web.Models.ViewModel.UserViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container" style="font-family:arial">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
        @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
        {
            <div class="panel panel-primary" style="margin-top: 100px">
                <div class="panel-heading" style="text-align:center">Forgot Password</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label">User Id &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.User.UserName, new { @class = "form-control", tabindex = 1, autofocus = "autofocus", placeholder = "Enter User Id", required = "required" })
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mobile No &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(x => x.User.PhoneNumber, new { @class = "form-control", tabindex = 1, autofocus = "autofocus", placeholder = "Enter Mobile No", required = "required" })
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label">New Password &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-8">
                                    @Html.PasswordFor(x => x.User.Password, new { @class = "form-control", tabindex = 2, placeholder = "Enter Password", required = "required" })
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Confirm Password &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-8">
                                    @Html.PasswordFor(x => x.User.ConfirmPassword, new { @class = "form-control", tabindex = 3, placeholder = "Enter Confirm Password", required = "required" })
                                </div>
                            </div>
                        </div>
                        
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label" style="font-size:20px; color: blue !important ">@Html.ActionLink("Login", "Login", "Account")</label>
                                <div class="col-md-8" style="text-align:right">
                                    <input type="submit" id="btnSave" value="Reset Your Password" class="btn btn-info" tabindex=4 />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            @if (Model.Message != null)
                            {
                                if (Model.IsSucceed == 1)
                                {
                                    <div style="color:green">@Model.Message</div>
                                }
                                else
                                {
                                    <div style="color:red">@Model.Message</div>
                                }
                            }
                        </div>
                        
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="col-md-3">
    </div>
        
</div>


