
@using iTextSharp.text.pdf.qrcode
@using Microsoft.Reporting.WebForms
@using RMS.Utility
@model RMS.Web.Models.ViewModel.ReportingViewModel
@{
    ViewBag.Title = "ReportView";
    Layout = null;
   
}
<h4 style="color:green">@Model.ReportName</h4>
@using (Html.BeginForm("AspReport", "Reporting", FormMethod.Post, new { @class = "Reporting", target = "_blank" }))
{
       
    @Html.HiddenFor(x=>x.SlNo)
    @*foreach (var rn in Model.ReportName)
    {
        <h3>rn[]</h3>
    }*@
    foreach (var par in Model.Parameters)
    {
        if (par.Key.ToLower().Contains("date"))
        {
            <div>

                @Html.Label(par.Key)
            </div>
            <div>
                @Html.TextBoxFor(x => x.Parameters[par.Key], "{0:dd MMM yyyy}", new { @class = "datePicker textBoxsize form-control" })

            </div>

        }

        else if (par.Key.ToLower().Contains("exchangecompany"))
        {
            <div>

                @Html.Label(par.Key)
            </div>
            <div>
                @*@Html.TextBoxFor(x => x.Parameters[par.Key], new { @class = "textBoxsize form-control", placeholder = "80210F101" })*@
                @Html.DropDownListFor(x => x.Parameters[par.Key], Model.ExchangeCompanyListItem, "--Select Exchange Company--", new { @class = "Type form-control", tabindex = 2 })
            </div>
        }

        else if (par.Key.ToLower().Contains("namecourse"))
        {
            <div>

                @Html.Label(par.Key)
            </div>
            <div>
                @*@Html.TextBoxFor(x => x.Parameters[par.Key], new { @class = "textBoxsize form-control", placeholder = "80210F101" })*@
                @Html.DropDownListFor(x => x.Parameters[par.Key], Model.NameOfCoursesListItems, "--Select--", new { @class = "Type form-control", tabindex = 2 })
            </div>
        }

        else if (par.Key.ToLower().Contains("exchangecompany"))
        {
            <div>

                @Html.Label(par.Key)
            </div>
            <div>
                @*@Html.TextBoxFor(x => x.Parameters[par.Key], new { @class = "textBoxsize form-control", placeholder = "80210F101" })*@
                @Html.DropDownListFor(x => x.Parameters[par.Key], Model.NameOfCoursesListItems, "--Select Exchange Company--", new { @class = "Type form-control", tabindex = 2 })
            </div>
        }
        else if (par.Key.ToLower().Contains("user"))
        {
            <div>

                @Html.Label(par.Key)
            </div>
            <div>
                @Html.TextBoxFor(x => x.Parameters[par.Key], new { @class = "textBoxsize form-control", @Value=PortalContext.CurrentUser.UserName,@readonly =true })
              
            </div>
        }
        
        else if (par.Key.ToLower().Contains("officecode"))
        {
            <div>

                @Html.Label(par.Key)
            </div>
            <div>
                @Html.TextBoxFor(x => x.Parameters[par.Key], new { @class = "textBoxsize form-control", Value = "1000000000", @readonly = "readonly" })
                @*@Html.DropDownListFor(x => x.Parameters[par.Key], new SelectList(Model.ExchangeCompany, "BranchCode", "BranchName"), "--Select Exchange Company--", new { @class = "Type", tabindex = 2 })*@
            </div>
        }
        else
        {
            <div>
                @Html.Label(par.Key)
            </div>
            <div>
                @Html.TextBoxFor(x => x.Parameters[par.Key], new { @class = "textBoxsize form-control"})
            </div>
        }
}
    <br/>
    <div ><input type="submit" value="Preview" class="btn btn-primary" id="btnExport" /></div>
}

<script type="text/javascript">
    $(function() {
        $(".datePicker").datepicker({
            dateFormat: 'dd MM yy',
            yearRange: '1920:' + new Date().getFullYear(),
            changeMonth: true,
            changeYear: true,
        });
    })
</script>

