@using RMS.Utility
<!DOCTYPE html>
<html>
<style type="text/css">
    .commonbackground {
        /*background: rgba(242,10000,1000,100);*/
    }
</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BPSC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/CommonDesign/commonBootStrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

</head>
<body class="container" style="background-color: #f0ffff">


    <div class="navbar navbar-inverse navbar-fixed-top success commonMarquee">
        <div class="">
            <div class="success">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <div class="row" style="background-color: #00cd00">
                    <div class="col-sm-1" style="text-align: right">
                        <img src="~/images/bd.png" />
                    </div>
                    <div class="col-sm-6"> 
                        <p style="color:white;font-weight: bold;font-size:30px;margin-top: 10px; text-align:left">Bangladesh Public Service Commisssion</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="navbar-collapse collapse">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
            </div>
            
            <div class="navbar-collapse collapse" style="background-color:maroon">
                @{Html.RenderAction("Menu", "Home");}
                @RenderSection("Notification", false)
            </div>
        </div>

    </div>
    <div class="container body-content" style="background-color: #f0f8ff; max-height: 1000px; max-width: 1400px; margin-top: 123px">

        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/AppScripts")*@

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/APP/datepicker.js"></script>
    @RenderSection("scripts", required: false)
 
</body>
</html>




