@using RMS.Utility
@model RMS.Web.Models.ViewModel.NSPCMeetingWorkViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center;">
            NSPC Meeting Work Information
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td>@Html.ActionLink("Add New", "Create", "NSPCMeetingWorks", new { @class = "btn btn-info" })</td>
                    <td>
                        @using (Html.BeginForm("SearchByKey", "NSPCMeetingWorks", FormMethod.Get))
                        {
                            <table>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(x => x.SearchKey, new { @class = "textBoxsize form-control", tabindex = 1, autofocus = "autofocus", placeholder = "Name" })
                                    </td>
                                    <td>
                                        <button class="custom-serach-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
            </table>
            <div>
                <h4 class="h4 text-info">@Model.Message</h4>
            </div>
            <div class="">
                @{
                    var grid = new WebGrid(canPage: true, rowsPerPage: AppConfig.PageSize, canSort: true, ajaxUpdateContainerId: "grid");
                    grid.Bind(Model.NSPCMeetingWorks, rowCount: Model.NSPCMeetingWorks.Count, autoSortAndPage: true);
                    grid.Pager(WebGridPagerModes.All);
                    @grid.GetHtml(htmlAttributes: new { NSPCMeetingWorkId = "grid" },
                        tableStyle: "webgrid-table webgrid",
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        selectedRowStyle: "webgrid-selected-row",
                        rowStyle: "webgrid-row-style",
                        firstText: "First",
                        lastText: "Last",
                        nextText: "Next",
                        mode: WebGridPagerModes.All,
                        previousText: "Previous",
                        columns: grid.Columns(
                            grid.Column("Serial No", canSort: false, format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                                grid.Column("FileNo", header: "File No"),
                                grid.Column("FileUrl", header: "File Url"),
                                grid.Column("CategoryName", header: "Category Name"),
                                grid.Column("OfficerName", header: "Officer Name"),
                                grid.Column("DescriptionBody", header: "Description Body"),
                                grid.Column("ToAuthority", header: "To Authority"),
                                grid.Column("IssueDate", header: "Issue Date"),
                                grid.Column("Edit", canSort: false, format: @<text> @Html.ActionLink("Edit", "Edit", "NSPCMeetingWorks", new { NSPCMeetingWorkId = item.NSPCMeetingWorkId }, new { @class = "btn btn-info" })</text>),
                    grid.Column("Delete", canSort: false, format: @<text> @Html.ActionLink("Delete", "Delete", "NSPCMeetingWorks", new { NSPCMeetingWorkId = item.NSPCMeetingWorkId }, new { @class = "btn btn-primary" })</text>)
                           ))
                    ;
                }
            </div>

        </div>
    </div>
</div>
