@model RMS.Web.Models.ViewModel.AjendaViewModel
@{
    ViewBag.Title = "Create";
}

<div class="container1" style="font-family:arial">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
        <div class="panel panel-info ">
            <div class="panel-heading custom-panel-heading" style="background-color: #D900A9; text-align: center; color: #fff;">
                Agenda Information
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "Agenda", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Agendum.Id);
                    @Html.HiddenFor(x => x.DemandId)
                    @Html.HiddenFor(x => x.FileSerial)

                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">File No  &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.HiddenFor(x => x.ValidationCheckBySubject, new { id = "subHiddenId", @class = "subHiddenClass" })
                                    @Html.TextBoxFor(x => x.Agendum.FileNo, null, new { id = "ThroughTextBoxFor", @class = "txtMember form-control", @onkeyup = "fileAutocomplite(this)", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.Agendum.FileNo)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Subject  &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextAreaFor(x => x.Agendum.Subject, new { id = "txtName", @class = "txtMember form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.Agendum.Subject)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Heading &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextAreaFor(x => x.Agendum.Heading, new { id = "txtEmail", @class = "txtMember form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.Agendum.Heading)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Formula &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextAreaFor(x => x.Agendum.Formula, new { id = "txtEmail", @class = "txtMember form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.Agendum.Formula)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Category &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.DropDownListFor(x => x.Agendum.Category, Model.CategorySelectListItems, "--Select--", new { @class = "form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.Agendum.Category)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Attached Document &nbsp;<i class=" fa fa-asterisk" style="font-size: 9px; color: red; position: absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.ImageUpload, new { type = "file", accept = "application/pdf", @class = "btn btn-info form-control", required = "required" })
                                </div>
                                <div class="col-md-4">@Html.ValidationMessageFor(x => x.ImageUpload)</div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <div class="col-md-8">
                                    @Html.ActionLink("Show All Data", "Index", "Agenda", null, new { @class = "btn btn-info" })
                                    <input type="submit" id="btnCreateCommitee" class="btn btn-info pull-right" value="Create" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    @if (@Model.SuccessMessage != null)
                    {
                        <div style="color: green">@Model.SuccessMessage</div>
                    }
                    else
                    {
                        <div style="color: red">@Model.FailedMessage</div>
                    }

                </div>
            </div>

        </div>

    </div>
    <div class="col-md-2">
        <div class="modal fade" id="mySuccessModel" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="SuccessMessage" style="color:green">Agenda Created Successfully!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="modal fade" id="myValidModel" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="SuccessMessage" style="color:green">File Not Valid!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myFailedModel" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="FailedMessage" style="color:red">Agenda Creation Failed!</h4>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>

        $('#btnCreateCommitee').unbind('click').bind('click', function () {
            var form = $("#formCreateCommitee");
           
            //if ($('#subHiddenId').val().length < 1) {
            //    $("#myValidModel").modal('show');
            //    return false;
            //}
            if (jQuery.validator && jQuery.validator.unobtrusive) {
                form.validate();
                if (!form.valid()) {
                    return false;
                } else {
                    var data = form.serialize();
                    var button = $('#btnCreateCommitee');
                    var target = $(button.attr('data-target'));
                    $.ajax(
                        {
                            url: "/Agenda/Create",
                            method: "post",
                            data: data,
                            dataType: "html",
                            success: function (resp) {
                                $("#mySuccessModel").modal('show');
                                $(".txtMember").val('');
                            },
                            error: function (err) {
                                $("#mySuccessModel").modal('show');
                            }
                        });
                }
            }

        });
        

        function fileAutocomplite(obj) {
            var textBox = $(obj);
            textBox.autocomplete({
                source: function (request, response) {
                    var option = {
                        url: '/Agenda/GetFileNameBySearchCharacter/',
                        type: "GET",
                        datatype: "html",
                        data: { SearchCharacter: request.term },
                    };
                    $.ajax(option)
                        .done(function (data) {
                            $('#subHiddenId').val('');
                            response($.map(data, function (customer) {
                                return {
                                    label: customer.FileNo,
                                    value: customer.FileNo
                                };
                                //return { label: customer.BookIdentity + "_" + customer.BookName, value: customer.BookName, CustomerId: customer.BookIdentity };
                            }));
                        });
                },
                minLength: 0,
                select: function (event, ui) {
                    $('#ThroughTextBoxFor').val(ui.item.label);
                    $('#subHiddenId').val(ui.item.value);
                    return false;
                }
            });
        }
    </script>
}


