@using RMS.Web.Models.ViewModel
@model OrganizationViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container1" style="font-family:arial">
    <div class="col-md-8">
        <div class="panel panel-info ">
            <div class="panel-heading custom-panel-heading" style="background-color: #D900A9; text-align: center; color: #fff;">
                <h4 style="color:darkorange"> Delete Organization</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Delete", "Organizations", FormMethod.Post, new { id = "deleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Organization.OrganizationId)
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Organization Name &nbsp;<i style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.DisplayFor(x => x.Organization.OrganizationName)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Short Name &nbsp;<i style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.DisplayFor(x => x.Organization.ShortName)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Description &nbsp;<i style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.DisplayFor(x => x.Organization.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <div class="col-md-8">
                                    @Html.ActionLink("Back To List", "Index", "Organizations", null, new { @class = "btn btn-info" })
                                    <button type="submit" class="btn btn-danger btn btn-info pull-right" value="Delete">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>