@using RMS.Utility
@model RMS.Web.Models.ViewModel.DemandViewModel
@{
    //ViewBag.Title = "Commitee Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center;">
            Demand Information
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td>@Html.ActionLink("Add New", "Create", "Demand", new { @class = "btn btn-info" })</td>
                    <td>
                        @using (Html.BeginForm("SearchByKey", "Demand", FormMethod.Get))
                        {

                            <table>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(x => x.SearchKey, new { @class = "textBoxsize form-control", tabindex = 1, autofocus = "autofocus", placeholder = "Name" })
                                    </td>
                                    <td>
                                        <button class="custom-serach-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-12">
                  
                        @if (Model.SuccessMessage != null)
                        {
                            <div style="color:green;text-align: center">@Model.SuccessMessage</div>
                        }
                        else
                        {
                            <div style="color: red; text-align: center">@Model.FailedMessage</div>
                        }
                   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                            <p style="color:green">@TempData["message"]</p>
                    </div>
                </div>
            </div>
    @{ int rowNo = 0; }
            <div class="">

                <table class="table table-bordered table-hover table-striped" >


                    <tr style="background-color: #654FA1;color: white">
                        <td style="text-align: center; font-size: 15px">Serial No</td>
                        <td style="text-align: center; font-size: 15px">File No</td>
                        <td style="text-align: center; font-size: 15px">Project Type</td>
                        <td style="text-align: center; font-size: 15px">Project Category</td>
                        <td style="text-align: center; font-size: 15px">Controll Type</td>
                        <td style="text-align: center; font-size: 15px">End Year</td>
                        <td style="text-align: center; font-size: 15px">Edit</td>
                        <td style="text-align: center; font-size: 15px">PDF</td>
                        <td></td>
                    </tr>

                    @foreach (var item in Model.Demands)
                    {
                        <tr>
                            <td style="">@(rowNo += 1)</td>
                            <td style="">@item.FileNo</td>
                            <td style="">@item.CommonCode.TypeValue</td>
                            <td style="">@item.CommonCode1.TypeValue</td>
                            <td style="">@item.ControlType.ControlName</td>
                            <td style="">@item.EndDate</td>
                            <td>
                                <a href="@Url.Action("Create", "Demand", new { DemandId = item.DemandId })" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td style="text-align: center; color: blue">
                               
                                <a href="@Url.Action("Show", "Demand", new { url = item.FileUrl })" style="" target="_blank"><img src="~/Content/icons/32x32/pdf.png" /></a>
                                

                            </td>
                            @if (item.IsAccept != true && item.IsAccept != null)
                            {
                                <td>
                                    <a href="@Url.Action("ProjectUndo", "Demand", new {DemandId = item.DemandId})" class="btn btn-warning">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true">Undo</span>
                                    </a>
                                </td>
                            }
                            else
                            {
                            <td>
                                <a href="@Url.Action("ProjectCancel", "Demand", new { DemandId = item.DemandId })" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true">Cancel</span>
                                </a>
                            </td> 
                            }
                        </tr>
                    }
                </table>
            </div>

        </div>
    </div>


@*<td style="text-align: center; color: blue">
    <a href="#" style="" onclick="location.href = '@Url.Action("Show", "PdfManagement", new {id = item.BooksFileIdentity})'"><img src="~/Content/icons/32x32/pdf.png" /></a>
</td>*@