@model RMS.Web.Models.ViewModel.StaffRequirementViewModel
@{
    ViewBag.Title = "Create";
}
<link href="~/css/ReadOnlyNotSpan.css" rel="stylesheet" />
<div class="container1" style="font-family:arial">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
        <div class="panel panel-info ">
            <div class="panel-heading custom-panel-heading" style="background-color: #D900A9; text-align: center; color: #fff;">
                 Staff Requiremenrt Approve
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    @if (@Model.SuccessMessage != null)
                    {
                        <div style="color: green;text-align: center">@Model.SuccessMessage</div>
                    }
                    else
                    {
                        <div style="color: red; text-align: center">@Model.FailedMessage</div>
                    }

                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("StaffRequirementApproveUpdate", "StaffRequirement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.StaffRequirement.StuffRequirementId);
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">File No. &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.HiddenFor(x => x.FlowSerial)
                                    @*@Html.HiddenFor(x => x.ValidationCheckBySubject, new { id = "subHiddenId", @class = "subHiddenClass" })*@

                                    @Html.DropDownListFor(model => model.StaffRequirement.FileNo, Model.ProjectSelectList, "--select--", new { @class = "form-control", required = "required", @readonly = true })


                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.StaffRequirement.FileNo)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Committe Name </label>
                                <div class="col-md-5">

                                    @Html.DropDownListFor(model => model.StaffRequirement.CommitteID, Model.CommitteSelectListItems, "--select--", new { @class = "form-control", @readonly = true })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.StaffRequirement.CommitteID)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Staff Requirement Title &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(x => x.StaffRequirement.Title, null, new { id = "txtMemberName", @class = "txtMember form-control", placeholder = "Enter Tile", required = "required", @readonly = true })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.StaffRequirement.Title)
                                </div>

                            </div>
                        </div>
                    </div>
                               <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Reference &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i> </label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(x => x.StaffRequirement.Reference, null, new { @class = "txtMember form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.StaffRequirement.Reference)
                                </div>

                            </div>
                        </div>
                    </div>
                  <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Decision : </label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(x => x.StaffRequirement.Decition, null, new { @class = "txtMember form-control" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.StaffRequirement.Decition)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Is Approve </label>
                                <div class="col-md-5">
                                    @Html.CheckBoxFor(x => x.StaffRequirement.IsApprove, new { id = "approvBtn" })

                                </div>
                                <div class="col-md-4">@Html.ValidationMessageFor(x => x.StaffRequirement.IsApprove)</div>
                            </div>
                        </div>
                    </div>
                   <div class="row approvDate">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Approve Date &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.StaffRequirement.ApproveDate, "{0:dd MMMM yyyy}", new { id = "txtStartDate", @class = "datepicker form-control", required = "required" })
                                    @Html.ValidationMessageFor(x => x.StaffRequirement.ApproveDate)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row approvDoc">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Approve Document</label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.ApproveDocument, new { type = "file", accept = "application/pdf", @class = "btn btn-info form-control " })
                                </div>
                                <div class="col-md-4">@Html.ValidationMessageFor(x => x.ApproveDocument)</div>
                            </div>
                        </div>
                    </div>
                   <div class="row rem">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Remarks</label>
                                <div class="col-md-5">
                                    @Html.TextAreaFor(x => x.StaffRequirement.ApproveRemarks, new { id = "txtMemberName", @class = "txtMember form-control", placeholder = "Enter Remarks" })

                                </div>
                                <div class="col-md-4">@Html.ValidationMessageFor(x => x.ImageUpload)</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input type="submit" class="btn btn-primary pull-right" value="Create" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>

    </div>


</div>
@section scripts
{
    <script>
        $(function () {
            $("#approvBtn").click(function () {
                $(".approvDoc").val('');
                $(".approvDate").val('');
                $(".rem").val('');
                if ($(this).is(':checked')) {
                    $(".approvDoc").show();
                    $(".approvDate").show();
                    $(".rem").show();
                }
                else {
                    $(".approvDoc").hide();
                    $(".approvDate").hide();
                    $(".rem").hide();
                }
            });
        });
        $(document).ready(function () {
            if ($("#approvBtn").is(':checked')) {
                $(".approvDoc").show();
                $(".approvDate").show();
                $(".rem").show();
            }
            else {
                $(".approvDoc").hide();
                $(".approvDate").hide();
                $(".rem").hide();
            }
        });
    </script>
}