@model RMS.Web.Models.ViewModel.TenderViewModel
@{
    ViewBag.Title = "Create";
}

<div class="container1" style="font-family:arial">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
        <div class="panel panel-info ">
            <div class="panel-heading custom-panel-heading" style="background-color: #D900A9; text-align: center; color: #fff;">
                Tender Offer Information
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("TenderCreate", "Tender", FormMethod.Post, new { id = "formCreateCommitee", onsubmit = "return false;" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.TenderOffer.Id);

                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">ProjectName &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(x => x.TenderOffer.ProjectName, null, new { id = "txtName", @class = "txtMember form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.TenderOffer.ProjectName)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Despatch Number &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(x => x.TenderOffer.DespatchNumber, null, new { id = "txtName", @class = "txtMember form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.TenderOffer.DespatchNumber)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Subject &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(x => x.TenderOffer.Subject, null, new { id = "txtEmail", @class = "txtMember form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.TenderOffer.Subject)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Main Subject &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(x => x.TenderOffer.MainSubject, null, new { id = "txtEmail", @class = "txtMember form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.TenderOffer.MainSubject)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Issue Date &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(x => x.TenderOffer.IssueDate, null, new { id = "txtEmail", @class = "txtMember form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.TenderOffer.IssueDate)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Including &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(x => x.TenderOffer.Including, null, new { id = "txtEmail", @class = "txtMember form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.TenderOffer.Including)
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Signing Authority &nbsp;<i class=" fa fa-asterisk" style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(x => x.TenderOffer.SigningAuthority, null, new { id = "txtEmail", @class = "txtMember form-control", required = "required" })
                                </div>
                                <div class="col-md-4">
                                    @Html.ValidationMessageFor(x => x.TenderOffer.SigningAuthority)
                                </div>

                            </div>
                        </div>
                    </div>
               
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <div class="col-md-8">
                                    @*@Html.ActionLink("Back To List", "TenderOfferIndex", "Tender", null, new { @class = "btn btn-info" })*@
                                    <input type="submit" id="btnCreateCommitee" class="btn btn-info pull-right" value="Create" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <div class="col-md-2">
        <div class="modal fade" id="mySuccessModel" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="SuccessMessage" style="color:green">Tender Offer Created Successfully!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myFailedModel" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="FailedMessage" style="color:red">Tender Offer Creation Failed!</h4>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>

        $('#btnCreateCommitee').unbind('click').bind('click', function () {
            var form = $("#formCreateCommitee");
            if (jQuery.validator && jQuery.validator.unobtrusive) {
                form.validate();
                if (!form.valid()) {
                    return false;
                } else {
                    var data = form.serialize();
                    var button = $('#btnCreateCommitee');
                    var target = $(button.attr('data-target'));
                    $.ajax(
                        {
                            url: "/Tender/TenderCreate",
                            method: "post",
                            data: data,
                            dataType: "html",
                            success: function (resp) {
                                $("#mySuccessModel").modal('show');
                                $(".txtMember").val('');
                            },
                            error: function (err) {
                                $("#mySuccessModel").modal('show');
                            }
                        });
                }
            }

        });

    </script>



}


