@using Microsoft.Ajax.Utilities
@using RMS.Utility
@model RMS.Web.Models.ViewModel.RegisterBindingModel

@{
    ViewBag.Title = "Log in Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container" style="margin-top:70px;margin-bottom:30px">
    
    
    <div class="panel panel-info">
        
        <div class="panel-heading" style="background-color: #9E5BBA; color: white; text-align: center">
            
                <label style="font-size: 1.1em;font-weight:bold">Applicant Registration Form</label>
            
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("NewApplicantSave", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {   <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="mobile" class="col-sm-3 col-md-2 col-md-offset-1">Mobile No</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.TextBoxFor(model => model.Register.UserName, new { @class = "form-control refno", id = "mobile", tabindex = 1, placeholder = "Mobile Number" })
                                @Html.ValidationMessageFor(model => model.Register.UserName)
                                <div id="divStatus"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="email" class="col-sm-3 col-md-2 col-md-offset-1">Email Address</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.TextBoxFor(model => model.Register.Email, new { @class = "form-control refnoEmail", id = "email", tabindex = 1, placeholder = "E-mail" })
                                @Html.ValidationMessageFor(model => model.Register.Email)
                                <div id="divStatusEmail"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="equivalent" class="col-sm-3 col-md-2 col-md-offset-1">SSC/Equivalent</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.DropDownListFor(x => x.Register.SscOrEquivalent, Model.SscorEquivalentsListItems, "-Select-", new { @class = "form-control Examination", id = "sscExamination", tabindex = 2 })
                               @Html.ValidationMessageFor(x=>x.Register.SscOrEquivalent)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" id="sscBoard">
                            <label for="sscboard" class="col-sm-3 col-md-2 col-md-offset-1">Board</label>
                            <div class="col-sm-8 col-md-8">

                                @Html.DropDownListFor(x => x.Register.SscBoard, Model.EducationSelectListItems, "-Select-", new { @class = "form-control sscBoard", id = "sscboard", tabindex = 3 })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="sscPassingYear" class="col-sm-3 col-md-2 col-md-offset-1">Passing Year</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.TextBoxFor(model => model.Register.SscPassingYear, new { @class = "form-control refnoEmail", id = "sscPassingYear", tabindex = 4, placeholder = "SSC Passing Year", onkeyup = "sscPassingYearTextChange()" })
                                @Html.ValidationMessageFor(model => model.Register.SscPassingYear)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <label for="sscreg" class="col-sm-3 col-md-2 col-md-offset-1">Reg.No</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.TextBoxFor(model => model.Register.SscRegisterationNo, new { @class = "form-control registrationNo checkSSCData", id = "sscreg", tabindex = 5, placeholder = "SSC Reg. No" })
                                @Html.ValidationMessageFor(model => model.Register.SscRegisterationNo)
                                <div id="divRegistrationNo"></div>
                                <div id="divcheckSSCData"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="sscroll" class="col-sm-3 col-md-2 col-md-offset-1">Roll</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.TextBoxFor(model => model.Register.SscRollNo, new { @class = "form-control sscRoll", id = "sscroll", tabindex = 6, placeholder = "SSC Roll" })
                                @Html.ValidationMessageFor(model => model.Register.SscRollNo)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="HSC/equivalent" class="col-sm-3 col-md-2 col-md-offset-1">HSC/Equivalent</label>
                            <div class="col-sm-8 col-md-8">

                                @Html.DropDownListFor(x => x.Register.HscOrEquivalent, Model.HscorEquivalentsListItems, "-Select-", new { @class = "form-control Examination", id = "hscExamination", tabindex = 7 })


                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" id="hscBoard">
                            <label for="HSCboard" class="col-sm-3 col-md-2 col-md-offset-1">Board</label>
                            <div class="col-sm-8 col-md-8">

                                @Html.DropDownListFor(x => x.Register.HscBoard, Model.EducationSelectListItems, "-Select-", new { @class = "form-control hscBoard", tabindex = 8 })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="sscPassingYear" class="col-sm-3 col-md-2 col-md-offset-1">Passing Year</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.TextBoxFor(model => model.Register.HscPassingYear, new { @class = "form-control refnoEmail", id = "sscPassingYear", tabindex = 9, placeholder = "HSC Passing Year" })
                                @Html.ValidationMessageFor(model => model.Register.HscPassingYear)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="hscreg" class="col-sm-3 col-md-2 col-md-offset-1">Reg.No</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.TextBoxFor(model => model.Register.HscRegistrationNo, new { @class = "form-control hscRegistrationNo checkHSCData", id = "hscreg", tabindex = 10, placeholder = "HSC Reg. No" })
                                @Html.ValidationMessageFor(model => model.Register.HscRegistrationNo)
                                <div id="divHscRegistrationNo"></div>
                                <div id="divcheckHSCData"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="hscroll" class="col-sm-3 col-md-2 col-md-offset-1">Roll</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.TextBoxFor(model => model.Register.HscRoll, new { @class = "form-control hscRoll", id = "hscroll", tabindex = 11, placeholder = "HSC Roll" })
                                @Html.ValidationMessageFor(model => model.Register.HscRoll)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="date" class="col-sm-3 col-md-2 col-md-offset-1">Date of Birth</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.TextBoxFor(model => model.Register.DateOfBirth, "{0: dd MMMM yyyy}", new { @class = "form-control datepicker", id = "date", tabindex = 12, placeholder = "Date of Birth" })
                                @Html.ValidationMessageFor(model => model.Register.DateOfBirth)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" id="idApplicantFullName" style="display:none;position: relative">
                            <label for="userFullName" class="col-sm-3 col-md-2 col-md-offset-1">Applicant Full Name</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.TextBoxFor(model => model.Register.UserFullName, new { @class = "form-control", id = "applicantFullName", tabindex = 13, placeholder = "Applicant Full Name" })
                                @Html.ValidationMessageFor(model => model.Register.UserFullName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <label for="password" class="col-sm-3 col-md-2 col-md-offset-1">Password</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.PasswordFor(model => model.Register.Password, new { @class = "form-control", id = "password", tabindex = 14, placeholder = "Password" })
                                @Html.ValidationMessageFor(model => model.Register.Password)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="confirm-password" class="col-sm-3 col-md-2 col-md-offset-1">Confirm Password</label>
                            <div class="col-sm-8 col-md-8">
                                @Html.PasswordFor(model => model.Register.ConfirmPassword, new { @class = "form-control", id = "password", tabindex = 15, placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(model => model.Register.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="col-xs-6 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
                                @Html.ActionLink("Back to login", "Login", "Account", new { @class = " btn btn-registration pull-left", tabindex = "17" })
                            </div>
                            <div class="col-xs-6 col-sm-7 col-md-7  col-lg-7">
                                <button id="btn-login" class="btn btn-registration pull-right" tabindex="16">Submit</button>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div>
                            @if (Model.IsCompleted == true)
                            {
                                if (TempData["messeage"] != null)
                                {
                                    <div class="alert alert-dismissable alert-info" style="color: green">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        @TempData["messeage"].ToString()
                                    </div>
                                }
                            }
                            else
                            {
                                if (TempData["messeage"] != null)
                                {
                                    <div class="alert alert-dismissable alert-info" style="color: red">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        @TempData["messeage"].ToString()
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>


            }
        </div>
        
        <div class="panel-footer" style="text-align:center;color:white;font-size: 14px;background-color:#9e5bba">
           
        </div>
    </div>
    </div>
<!-- FOOTER SECTION ENDING -->
@section scripts{
    <script>
        $("#sscExamination").change(function () {
            //alert('hi');
            if ($("#sscExamination option:selected").val() == "91456") {
                $("#idApplicantFullName").show();
                $("#sscBoard").hide();
            } else {
                $("#idApplicantFullName").hide();
                $("#sscBoard").show();
            }
        });

        //-------------------------------------------------------------------------------------------
        function sscPassingYearTextChange() {
            if ($("#sscPassingYear").val().trim() > 1980 && $("#sscPassingYear").val().trim() <= 1995) {
                $("#idApplicantFullName").show();
            } else if ($("#sscPassingYear").val().trim() > 2000 && $("#sscExamination option:selected").val() == "91456"
            ) {
                $("#idApplicantFullName").show();
            } else {
                $("#idApplicantFullName").hide();
            }
        }

        //-----------------------------------------------------------------------------------------------------------------

        $("#hscExamination")
            .change(function () {

                if ($("#hscExamination option:selected").val() == 91462) {
                    $("#idApplicantFullName").show();
                    $("#hscBoard").hide();
                } else {
                    $("#hscBoard").show();
                }
            });
        //-------------------------------------------------------------------------------------------------
        $("#btn-login").click(function () {
            document.getElementById("content-flex").style.height = "1100px";
        });

    </script>
}

