@model RMS.Web.Models.ViewModel.ProjectPaymentInstallmentViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container1" style="font-family:arial">
    <div class="col-md-8">
        <div class="panel panel-info ">
            <div class="panel-heading custom-panel-heading" style="background-color: #D900A9; text-align: center; color: #fff;">
                <h4 style="color:darkorange"> Delete Project Installment</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Delete", "ProjectInstallments", FormMethod.Post, new { id = "deleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.ProjectInstallment.InstallmentId)
                    @Html.HiddenFor(x => x.ProjectInstallment.ProjectId)

                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Project Name &nbsp;<i style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.DisplayFor(x => x.ProjectInstallment.ProjectName)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Installment Name &nbsp;<i style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.DisplayFor(x => x.ProjectInstallment.InstallmentName)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-3">Amount &nbsp;<i style="font-size:9px;color:red;position:absolute;" aria-hidden="true"></i></label>
                                <div class="col-md-5">
                                    @Html.DisplayFor(x => x.ProjectInstallment.Amount)
                                </div>
                            </div>
                        </div>
                    </div>                  
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group">
                                <div class="col-md-8">
                                    @Html.ActionLink("Back To List", "Index", "ProjectInstallments", new { projectID = Model.ProjectInstallment.ProjectId}, new { @class = "btn btn-info" })
                                    <button type="submit" class="btn btn-danger btn btn-info pull-right" value="Delete">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>